// ==========================================================================
// Page layouts
// ==========================================================================
aside {
  background: $sidebar;
  margin: 0;
  padding-top: rem(24px);
  padding-left: 0;
  min-height: 100%;
  position: absolute;
  top: 0;
  
  h1 {
    img {
      display: block;
      width: auto;
      margin: 0 auto;
    }
  }
}

.sidebar--list {
  margin: rem(32px) 0 0 0;
  padding: 0;
  padding-left: 0;
  
  @include m(item) {
    color: rgba(255, 255, 255, 0.6);
  }
  
  li:nth-child(4) {
      padding-left: 0;
      
      a {
        padding-left: rem(28px);
      }
      
    }
}

.sidebar--list__item {
  margin-bottom: rem(24px);
  padding-left: rem(28px);
  a {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.6);
    font-family: $font-family--primary;
    font-weight: $font-weight--light;
    font-size: rem(16px);
    letter-spacing: rem(0.6px);
  }
  
  i {
    margin-right: rem(18px);
  }
}

ul.manage--list {
    margin: rem(12px) 0 0 0;
    padding: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
  
    li.manage--list__item {
      margin: 0;
      padding: 0 0 rem(12px) 0;
  
      a {
        width: 100%;
        display: block;
        padding-left: rem(74px);
        font-size: rem(15px);
        letter-spacing: rem(0.8px);
      }
    }

    li.manage--list__item:first-child {
          padding-top: rem(12px);
    }

    li.manage--list__item:nth-child(4) {
         padding-left: 0;
    }
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.active {
  background: rgba(255, 255, 255, 0.1);
  border-left: 3px solid $orange;
  padding: rem(15px) 0 rem(15px) rem(20px);
  width: 100%;
  
  a {
    color: $white;
    margin: 0;
    
  }
}


.user--nav {
  margin: rem(38px) 0 0 0;
  padding: 0;
}

.user--nav__item {
  display: inline;
  margin: 0;
  padding: 0;
  
  a {
    color: $purple-blue;
  }
  
  &:first-child {
    margin-right: rem(20px);
  }
}


// Login styles
.logo-login {
  margin-top: rem(48px);
  
  
  img {
    display: block;
    width: auto;
    margin: 0 auto rem(24px) auto;
  }
}

.headline-login {
  font-family: $font-family--primary;
  font-size: rem(24px);
  font-weight: $font-weight--light;
  text-align: center;
  margin-bottom: rem(24px);
}

.lost-password {
  width: 28%;
  
  
  a {
    font-family: Lato-Regular;
    font-size: $base__font-size;
    color: $centuria;
    letter-spacing: rem(0.4px);
    line-height: rem(19px);
    
    &:hover {
      opacity: 0.8;
    }
  }
}
















